*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Monaco", monospace;
    scroll-behaviour: smooth;
    
  }


  
body{
  height: 100%;
  margin: 0;
  overflow-x:hidden;
}

  html {
  scroll-behavior: smooth;
  }
  
  #navbar{
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s;
  }
  
  .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  #navbar__logo {
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  #navbar__logo:hover {
    color: #1349D1;
  }
  
  .navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item{
    height: 80px;  
  }
  
  .navbar__links{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  display: inline-block;
  padding: 2rem;
  position: relative;
  }
  
  .navbar__links:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #779ECB;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  }
  
  .navbar__links:hover{
  color: #779ECB;
  }
  
  .navbar__links:hover:after{
  width:100%;
  left:0;
  }
  
  
  @media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
  }
  
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 2vh;
  }
  
  #navbar__logo {
    padding-left: 25px;
    
  }
  
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  
  .navbar__item {
    width: 100%;
  }
  
  .navbar__links {
    text-align: center;
    
    width: 100%;
    display: table;
    color: #779ECB ;
  }
  
  .navbar__btn {
    
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }
  
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  
  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
    
  }
  
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  }
  
  .intro {
    margin: 0 auto;
    max-width: 100vw;
    height: 90%;
    text-align: center;
    padding: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    
  }

.video-bg{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
  
.viewport-header {
  position: relative;
  text-align: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}


h1 {
  border-right: solid 3px white;
  white-space: nowrap;
  overflow: hidden;    
  font-family: "Monaco", monospace; 
  font-size: 6rem;
  color: white;
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 2rem;
  }
}

/* Animation */
h1 {
  animation: animated-text 3s steps(29) 1s 1 normal both,
             animated-cursor 600ms steps(29) infinite;
}


/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 44rem;}
}

@media screen and (max-width: 768px) {
  @keyframes animated-text{
    from{width: 0;}
    to{width: 15rem;}
  }
  
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: white;}
  to{border-right-color: transparent;}
}

  h2{
    color: white;
    font-size: 1.8rem;
    padding-top: 9rem;
    position: absolute;
  }

  @media screen and (max-width: 768px) {
    h2{
      padding-top: 3.8rem;
      font-size: 0.8rem;
    }
  }

  .about {
    background:#040f13;
    opacity: 0.92;
    height: 100vh;
    width: 100vw;
    position: sticky;
    padding: 1rem;
    
    }

    .abouttitle{
      text-align: center;
       }

    .abouttitle h4{
     padding-top: 4rem; 
     padding-bottom: 1.3rem;
     font-size: 4rem;
     text-decoration: underline;
     font-weight: 700;
     text-transform: uppercase;
     background: #E1D9D1;
     letter-spacing: 5px;
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     background-repeat: no-repeat;
     background-size: 80%;
     letter-spacing: 0.6rem;
     position: relative;
      }

      .box{
        
        height: 0.3rem;
        width: 13rem;
        background-color: #779ECB;
        text-align: center;
        margin: auto;
      }

      
      @media screen and (max-width: 768px) {
        .about h4{
          padding-top: 2rem; 
          font-size: 1.5rem;
        }
        
      }


  
      @keyframes shine {
        0% {
          background-position-x: -500%;
        }
        100% {
          background-position-x: 500%;
        }
      }

      section.is-inview h4{
        animation: fade-in 4s;

      }

      section.is-inview .box{
        animation: fade-in 2s;
      }

      .contain{
        padding-top: 2rem;
        margin: auto;
        max-width: 78vw;
        text-align: left;
        opacity: 0.92;
        
      }

      section.is-inview .para{
        animation: slide-in-right 1.5s;
      }

     

      section.is-inview img{
        animation: slide-in-left 1.5s;
      }

      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(15rem);
          transform: translateX(15rem);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }

      @keyframes slide-in-left {
        
        0% {
          
          -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
          opacity: 0;
        }
        100% {
          
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      @keyframes fade-in {
        0% {
          opacity: 0;
          
        }
        100% {
          opacity: 1;
          
        }
      }

      .photo{
        
        
        opacity: 0.9;
        height: 22rem;
        width: 22rem;
        transition: 0.2s ease;
        float: left;
        margin-right: 3rem;
        margin-left: 3rem;
        margin-top: 3rem;
        
      }

      .photo:hover{
        border: 6px solid #779ECB;
        transition: 0.2s ease;
        border-radius: 21rem;
      }

      
      
      .para { 
          color: #E1D9D1;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.3;
          letter-spacing: 0.2rem;
          padding-top: 4rem;
          
      }
      
      .pp {
        margin-left: 20rem;
        color: #E1D9D1;
        text-align: left;
        font-weight: 700;
        letter-spacing: 0.2rem;
        padding-top: 4.5vh;
        padding-left: 12rem;
        font-size: 1.2rem;
        
        }

        section.is-inview .flutter{
          animation: flutterkey 5s;
          
          
          animation-fill-mode: forwards;
        }

        section.is-inview .html{
          animation: htmlkey 5s;
         
        
          animation-fill-mode: forwards;
        }

        section.is-inview .css{
          animation: csskey 5s;
         
         
          animation-fill-mode: forwards;
        }

        .piano{
          color: #BA0000 ;
          font-size: 1.4rem;
        }

        .anilist{
          color: #BA0000 ;
          font-size: 1.4rem;
        }

        section.is-inview .js{
          animation: jskey 5s;
         
         
          animation-fill-mode: forwards;
         
        }

        section.is-inview .greenfoot{
          animation: greenfootkey 5s;
          
          
          animation-fill-mode: forwards;
        }

        section.is-inview .pygame{
          animation: pygamekey 5s;
         
          
          animation-fill-mode: forwards;
        }

        section.is-inview .dmoj{
          animation: dmojkey 5s;
         
          
          animation-fill-mode: forwards;
        }
        @keyframes flutterkey {
          from {
            color: #E1D9D1;
          }
          to {
            color: #9CD3E0;
          }
        }

        @keyframes htmlkey {
          from {
            color: #E1D9D1;
          }
          to {
            color: #E9A353;
          }
        }

        @keyframes csskey {
          from {
            color: #E1D9D1;
          }
          to {
            color: #9CD3E0;
          }
        }

        @keyframes jskey {
          from {
            color: #E1D9D1;
          }
          to {
            color: #FFEB27;
          }
        }

        @keyframes greenfootkey {
          from {
            color: #E1D9D1;
          }
          to {
            color: #7AFF88;
          }
        }

        @keyframes pygamekey {
          from {
            color: #E1D9D1;
          }
          to {
            color: #FFEB27;
          }
        }

        @keyframes dmojkey {
          from {
            color: #E1D9D1;
          }
          to {
            color: #B3B3B3;
          }
        }



        section.is-inview .p1{
           
          animation: fade-in 1s;
          animation-delay: 0s;
          animation-fill-mode: forwards; 
          
        }
        
        section.is-inview .p2{
          
          animation: fade-in 1s;
          animation-delay: 0.1s;
          animation-fill-mode: forwards;  
          
        }

        section.is-inview .p3{
           
          animation: fade-in 1s;
          animation-delay: 0.2s;
          animation-fill-mode: forwards; 
          
        }
        
        section.is-inview .p4{
          
          animation: fade-in 1s;
          animation-delay: 0.3s;
          animation-fill-mode: forwards;  
          
        }

        section.is-inview .p5{
          
          animation: fade-in 1s;
          animation-delay: 0.4s;
          animation-fill-mode: forwards;  
          
        }

        section.is-inview .p6{
          
          animation: fade-in 1s;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;  
          
        }

        section.is-inview .p7{
          
          animation: fade-in 1s;
          animation-delay: 0.6s;
          animation-fill-mode: forwards;  
          
        }
        
        section.is-inview .fa{
          animation: fade-in 1s;
          animation-delay: 0.5s;
          
        }
        @keyframes enlarge {
          from {
            font-size: 0.1rem;
          }
          to {
            font-size: 1.2rem;
          }
        }

        .fa {
          padding: 15px;
          font-size: 20px;
          align-items: center;
          text-align: center;
          text-decoration: none;
          display: inline;
          border-radius: 0.8rem;
          
          }

          section.is-inview .fa{
          
            animation: fade-in 1s;
            
            
          }

          .buttoncontain{
            float: left;
            padding-left: 8rem;
          }
          


          .row{
            display: inline;
          }

          
          
          .fa-facebook {
          margin-top: 1rem;
          background: #3B5998;
          color: white;
          }
          
          .fa-instagram {
            
          background: #bc2a8d;
          color: white;
          }
          
          .fa-linkedin {
          
          background: #007bb5;
          color: white;
          }
          
          .fa-github {
          margin-top: 1rem;
          background: #bd2c00;
          color: white;



